
<div class="booyah-box col-10 offset-1">
  <h1>Edit Friend</h1>
  <%= simple_form_for @friend do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <br />
  <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>