<% @friends.each do |friend| %>
  <div class="booyah-box col-10 offset-1">
      <h1><%= link_to friend.name, friend_path(friend) %></h1><br />
      <i><%= friend.address %></i><br />
    </div>
  <% if friend.user.present? %>
  <small><%= friend.user.email %></small>
  <% end %>
  <hr />
<% end %>
